@page "{roomId:int}"
@model HotelReservationSystem.Pages.Reservations.CreateModel
@{
    ViewData["Title"] = "Reserve Reservation";
}

<div class="container">
    <h2>Reserve Room @Model.Room.RoomNumber</h2>
    <img src="@Model.Room.ImageURL" alt="Image of @Model.Room.RoomNumber" class="room-image" />
    <p>@Model.Room.Description</p>
    <p class="room-price">Price: $@Model.Room.Price</p>
    <p>Status: @(Model.Room.IsAvailable ? "Available" : "Not Available")</p>

    <form method="post" asp-page-handler="Reserve">
        <input type="hidden" name="roomId" value="@Model.Room.RoomId" />
        <button type="submit" class="btn btn-success">Reserve the Room</button>
    </form>
</div>
